a {
    color: #000;
    text-decoration: none;
  }
  
  .outlet {
    color: gray !important;
  }
  
  .outlet:hover {
    color:rgb(232, 192, 52) !important;
  }
  
  a:hover {
    color: rgb(232, 192, 52) !important;
  }
  
  .options:hover {
    color:rgb(232, 192, 52);
  }